<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="build">
        <dir
          name="release">
          <dir
            name="dep">
            <dir
              name="cmark">
              <dir
                name="cmark">
                <dir
                  name="src"/>
              </dir>
            </dir>
            <dir
              name="hunspell">
              <dir
                name="hunspell_autogen"/>
            </dir>
            <dir
              name="libgit2">
              <dir
                name="libgit2">
                <dir
                  name="src">
                  <dir
                    name="git2">
                    <dir
                      name="sys"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="libssh2">
              <dir
                name="libssh2">
                <dir
                  name="src"/>
              </dir>
            </dir>
            <dir
              name="scintilla">
              <dir
                name="scintilla_autogen"/>
            </dir>
          </dir>
          <dir
            name="src">
            <dir
              name="app">
              <dir
                name="app_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="conf">
              <dir
                name="conf_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="cred">
              <dir
                name="cred_autogen"/>
            </dir>
            <dir
              name="dialogs">
              <dir
                name="dialogs_autogen">
                <dir
                  name="EWIEGA46WW"/>
                <dir
                  name="include"/>
              </dir>
            </dir>
            <dir
              name="editor">
              <dir
                name="editor_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="git">
              <dir
                name="git_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="host">
              <dir
                name="host_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="index">
              <dir
                name="index_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="log">
              <dir
                name="loglib_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="plugins">
              <dir
                name="plugins_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="tools">
              <dir
                name="tools_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="ui">
              <dir
                name="ui_autogen">
                <dir
                  name="EWIEGA46WW"/>
                <dir
                  name="include"/>
              </dir>
            </dir>
            <dir
              name="update">
              <dir
                name="update_autogen">
                <dir
                  name="EWIEGA46WW"/>
              </dir>
            </dir>
            <dir
              name="watcher">
              <dir
                name="watcher_autogen">
                <dir
                  name="include"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="dep">
        <dir
          name="cmark">
          <dir
            name="cmark">
            <dir
              name="src"/>
          </dir>
        </dir>
        <dir
          name="git">
          <dir
            name="git">
            <dir
              name="contrib">
              <dir
                name="credential">
                <dir
                  name="osxkeychain"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="hunspell">
          <dir
            name="hunspell">
            <dir
              name="src">
              <dir
                name="hunspell"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="libgit2">
          <dir
            name="libgit2">
            <dir
              name="deps">
              <dir
                name="http-parser"/>
              <dir
                name="ntlmclient"/>
            </dir>
            <dir
              name="include">
              <dir
                name="git2">
                <dir
                  name="sys"/>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="allocators"/>
              <dir
                name="hash">
                <dir
                  name="sha1">
                  <dir
                    name="sha1dc"/>
                </dir>
              </dir>
              <dir
                name="streams"/>
              <dir
                name="transports"/>
              <dir
                name="unix"/>
              <dir
                name="xdiff"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="libssh2">
          <dir
            name="libssh2">
            <dir
              name="include"/>
            <dir
              name="src"/>
          </dir>
        </dir>
        <dir
          name="lpeg">
          <dir
            name="lpeg-1.0.2"/>
        </dir>
        <dir
          name="lua">
          <dir
            name="lua-5.4.0">
            <dir
              name="src"/>
          </dir>
        </dir>
        <dir
          name="openssl">
          <dir
            name="openssl">
            <dir
              name="include">
              <dir
                name="openssl"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="scintilla">
          <dir
            name="scintilla-3.21.0">
            <dir
              name="include"/>
            <dir
              name="lexlib"/>
            <dir
              name="src"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="src">
        <dir
          name="app"/>
        <dir
          name="cli"/>
        <dir
          name="conf"/>
        <dir
          name="cred"/>
        <dir
          name="dialogs"/>
        <dir
          name="editor"/>
        <dir
          name="git"/>
        <dir
          name="host"/>
        <dir
          name="index"/>
        <dir
          name="log"/>
        <dir
          name="plugins"/>
        <dir
          name="tools"/>
        <dir
          name="ui"/>
        <dir
          name="update"/>
        <dir
          name="watcher"/>
      </dir>
      <dir
        name="test"
        excluded="true"/>
    </dir>
  </files>
  <languages>
    <language
      name="C++"/>
  </languages>
  <file_types>
    <file_types
      ext=".vue"
      type="Html"/>
  </file_types>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <cpp_options
    add_found_include_files="true"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="128"
    cache_ast_files="false"
    c_std=""
    compiler="Mac"
    compiler_include_path="/usr/include"
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    merge_multiple_function_definitions="false"
    warning_level="AllWarnings"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <imports>
    <files>
      <file
        name="./build/release/compile_commands.json"/>
    </files>
  </imports>
</project>
